<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Gund Gallery | <%= installation.work_name %></title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/public/css/installations.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
		<script src="/public/js/wordCloud.js"></script>
	</head>

	<body>
	<!-- Container Number One -->
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4 mt-5 p-4">
				<img src="/public/images/installation-<%= installation.id %>.png" class="img-fluid" alt="Column 1" style="display: block; margin: 0 auto;">
				<p class="text-center p-3"> <b> <%= installation.work_name %> </b> </p>
			</div>
			<div class="col-12 col-md-4 mt-5">
				<p class="text-left"> <b> Artist: </b> <%= installation.artist %></p>
				<p class="text-left"> <b> Material: </b> <%= installation.material_medium %></p>
				<p class="text-left"> <b> Info: </b> <%= installation.info_short_desc %></p>
							    <!-- Modal Button -->
			<div class="text-center mt-5">
			  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#surveyModal" style="background-color: black">
				Share Thoughts
			  </button>
			</div>
			</div>
			<div class="col-12 col-md-4 mt-5" id="sketch">
			</div>
		</div>
	</div>

	<!-- Comment Section -->
	<div class="container mt-5 mb-5">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col-12 col-md-7">
				<div class="card">
					<div class="p-3 pb-1">
						<h4>Comments</h4>
					</div>
					<div>
						<% comments.forEach((comment) => { %>
							<div class="d-flex flex-row px-3 py-1">
								<div class="w-100">
									<div class="d-flex justify-content-between align-items-center">
										<div class="d-flex flex-row align-items-center">
											<p class="mr-2 bold"><%= comment.client_name %></p>
										</div>
									</div>
									<p class="text-justify comment-text mb-0"><%= comment.response_text %></p>
								</div>
							</div>
						<% }); %>
					</div>
					<form method="POST" action='/comment/create/<%= installation.id %>' class="mt-3 d-flex flex-column flex-md-row align-items-center p-3 form-color">
						<p class="m-2"><%= client.name %></p>
						<input name="response_text" type="text" class="form-control mb-2 mb-md-0" placeholder="Enter your comment...">
						<input type="submit" class="btn btn-primary mt-2 mt-md-0"></input>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="surveyModal" tabindex="-1" aria-labelledby="surveyModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered">
				<div class="modal-content text-center">
				  <div class="modal-header">
					<h5 class="modal-title" id="surveyModalLabel">Describe the installation in three words</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				  </div>
				  <div class="modal-body">
					<form action="/client/join" method="POST">
					  <div class="mb-3">
						<label for="text" class="form-label">word one:</label>
						<input type="text" name="wordOne" id="wordOne" class="form-control" required>
					  </div>
					  <div class="mb-3">
						<label for="text" class="form-label">word two:</label>
						<input type="text" name="wordTwo" id="wordTwo" class="form-control" required>
					  </div>
					  <div class="mb-3">
						<label for="text" class="form-label">word three:</label>
						<input type="text" name="wordTwo" id="wordTwo" class="form-control" required>
					  </div>
					  <button type="submit" class="btn btn-primary">Submit</button>
					</form>
				  </div>
				</div>
			  </div>
			</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
	</body>
</html>